name: Build Docker Image

on:
  push:
    branches: [ main ]

env:
  IMAGE_NAME: portfolioapi:latest

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build \
            -f PortfolioApi/Dockerfile \
            -t $IMAGE_NAME \
            .
